**/crested_data/
**/v10nr_clust_public/
*.zip
*.tar
*.gz
*.feather
*.fa
*DS_Store
**/cistarget_out
*.bed
motif_list.txt
*slurm*
*.index
*.npz
*.keras
**/wandb
*.h5ad
**/figures
*.png
.ipynb_checkpoints

